

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5px;
  font-size: 45px;
  padding-top: 85px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 35px;
  font-style: bold;
}

h2:hover {
  cursor:pointer;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 35px;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-bottom: 20px;
  text-decoration: underline;
}

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 32px;
  margin-bottom: 10px;
}

button:hover{
  cursor:pointer;
}

button {
  text-size: 30px;
  text-decoration: underline;
}

.descriptions {
  display: none;
  overflow: hidden;
  background-color: #ede0bb;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: 2%;
}

.opens {
  display: block;
  overflow: hidden;
  background-color: #ede0bb;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: 2%;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-left: 25%;
  padding-right: 25%;
}

body {
  background-color: #84e8fa ;
  color: purple;
}

iframe {
  display:flex;
  justify-content: center;
  border: none;
  padding-left: 10%;
}

#mySidebar {
  z-index: 3;
  width: 250px;
  color: white;
  background-color: #1a4287;
  margin-right: 20%;

}

#topBar {
  font-weight: bold;
  color: white;
  background-color: #1a4287;
  margin-bottom: 40px;
}

#topBar a{
  font-size: 42px;
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .main {
    margin-left: 40px;
    margin-right: 40px;
  }
  .w3-auto {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .w3-auto {
    max-width: 100%;
  }
}


.w3-bar-block a:hover {
  background-color: #deac2f;
}
.wrapper {
  background: #84e8fa;
  min-height: 100%;
  width: 90%;
  padding-left: 20%;
}
